/* GLOBAL RESET */

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* CUSTOM PROPERTIES */

:root {
    /* Setting font size */
    font-size: 62.5%;

    /* Solid colors */
    --c-dark-gray-1: #09090A;
    --c-dark-gray-2: #1B1B1F;
    --c-dark-gray-3: #202024;
    --c-dark-gray-4: #2D2D33;
    --c-dark-gray-5: #414149;
    --c-light-gray-1: #8D8D99;
    --c-light-gray-2: #C4C4CC;
    --c-light-gray-3: #E1E1E6;
    --c-white: #ffffff;
    --c-pink: #FF008E;
    --c-orange: #FF6855;
    --c-yellow: #FFCD1E;

    /* Gradient colors */
    --c-gradient-dark-gray-1-3: linear-gradient(to bottom, var(--c-dark-gray-3), var(--c-dark-gray-1));
    --c-gradient-dark-gray-2-4: linear-gradient(to bottom, var(--c-dark-gray-4), var(--c-dark-gray-2));
    --c-gradient-dark-gray-2-5: linear-gradient(to bottom, var(--c-dark-gray-5), var(--c-dark-gray-2));
    --c-gradient-white-1: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.33), hsla(240, 7%, 11%, 0.04));
    --c-gradient-white-2: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.13), hsla(240, 7%, 11%, 0.04));
    --c-gradient-pink-yellow: linear-gradient(145deg, var(--c-pink), var(--c-yellow) 100%);
}

/* BODY */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--c-dark-gray-2);
}

.body-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-image: var(--c-gradient-dark-gray-1-3);
    background-position: center auto;
    background-repeat: no-repeat;
    background-size: 100%;
}

.body-container::before {
    position: absolute;
    display: block;
    content: '';
    width: 106.2rem;
    height: 40rem;
    background-image: var(--c-gradient-pink-yellow);
    top: 0;
    left: calc(calc(100% - 106.2rem) / 2);
    right: calc(calc(100% - 106.2rem) / 2);
    clip-path: polygon(0 0, 100% 0, 50% 77.5%);
}

/* BADGE STRIP */
.badge-strip {
    width: 6.4rem;
    height: 15.8rem;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 3;
    background-image: var(--c-gradient-dark-gray-2-5);
}

.badge-strip::before {
    position: absolute;
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    content: '';
    background-image: url('/assets/images/bg-pattern.svg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.badge-strip-hole {
    width: 8rem;
    height: .8rem;
    margin: -0.2rem auto 0 auto;
    display: block;
    position: relative;
    z-index: 2;
    border-radius: .4rem;
    background-color: var(--c-dark-gray-1);
}

/* BADGE CONTAINER */
.badge-container {
    position: relative;
    z-index: 1;
    width: 35.8rem;
    min-width: 25rem;
    margin: -1.8rem auto;
    padding: 8.8rem 4.8rem 4.8rem 4.8rem;
    border-radius: 1.6rem;
    background-image: url('/assets/images/badge-container-bg.png'), var(--c-gradient-dark-gray-2-4);
    background-position: center -50rem, 100%;
    background-repeat: no-repeat;
    background-size: 100% auto, 100%;
    text-align: center;
}

.badge-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1.6rem;
    border: .1rem solid transparent;
    background: var(--c-gradient-white-1) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
}

/* BADGE CONTENT */
.profile-pic-container {
    margin: 0 auto 2rem;
    position: relative;
    width: 15rem;
    height: 15rem;
}

.stamp {
    position: absolute;
    top: -4rem;
    left: -8rem;
    z-index: 1;
    width: 12rem;
    height: 12rem;
    transition: transform .2s ease-in-out;
    animation: rotate 20s linear infinite;
}
  
@keyframes rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

.profile-pic-shape {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 13rem;
    height: 14.95rem;
    margin: 0 auto;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.profile-pic {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.profile-name {
    margin-bottom: .4rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3rem;
    color: var(--c-white);
}

.github-user-name-wrapper {
    display: inline-block;
    margin-bottom: .8rem;
    padding: .4rem .6rem;
    border-radius: .8rem;
    background-color: transparent;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
    color: var(--c-light-gray-2);
}

.github-icon {
    display: inline-block;
    fill: currentColor;
    vertical-align: top;
    margin-right: .2rem;
}

.github-user-name-wrapper:hover {
    background-color: var(--c-dark-gray-5);
    color: var(--c-light-gray-3);
}

.github-user-name-wrapper:active {
    transform: scale(.96);
}

.profile-description {
    margin-bottom: 7.2rem;
    min-width: 15.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--c-light-gray-3);
}

/* SOCIAL MEDIA LINKS LIST */
.social-media-links-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.social-media-links-row li {
    display: inline-block;
    margin-right: .6rem;
}

.social-media-link {
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    position: relative;
    border-radius: .8rem;
    background-color: var(--c-dark-gray-4);
    color: var(--c-light-gray-1);
}

.social-media-link::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: .8rem;
    border: .1rem solid transparent;
    background: var(--c-gradient-white-2) border-box;
    -webkit-mask:
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.social-media-links-row:last-child {
    margin-right: 0;
}

.social-media-link:hover {
    background-color: var(--c-dark-gray-5);
    color: var(--c-white);
}

.social-media-link:active {
    transform: scale(.96);
}

.social-media-link-icon {
    width: 2rem;
    display: block;
    margin: auto;
    fill: currentColor;
}

@media only screen and (max-width: 400px) {

    /* BODY */
    .body-container {
        overflow: scroll;
    }

    .body-container::before {
        display: none;
    }

    /* BADGE STRIP */
    .badge-strip, .badge-strip-hole {
        display: none;
    }

    /* BADGE CONTAINER */
    .badge-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 20rem 4.8rem 4.8rem 4.8rem;
        overflow: hidden;
        border-radius: 0;
        position: relative;
        z-index: 1;
        background-position: center -46.5rem, 100%;
    }

    .badge-container::before {
        content: '';
        display: block;
        position: absolute;
        width: 100vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('/assets/images/badge-container-bg.png');
        background-repeat: no-repeat;
        background-size: 40rem auto;
        background-position: center -46.7rem;
    }

    .badge-container::after {
        display: none;
    }

    /* USER INFO */
    .github-user-name-wrapper {
        margin-bottom: 1.6rem;
    }

    .profile-description {
        margin-bottom: 15.2rem;
        font-size: 1.6rem;
        font-weight: 400;
    }

    /* SOCIAL MEDIA LINKS LIST */
    .social-media-links-row li {
        margin-right: .8rem;
    }
    
    .social-media-link {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 1.2rem;
    }

    .social-media-link::after {
        border-radius: 1.2rem;
    }

    .social-media-link-icon {
        width: 2.4rem;
    }
    
}